@import url(./fonts.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

li{
    list-style-type: none;
    font-family: "Bookman Caps";
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    font: fallback;
    color: #9a01cd;
    background-color: #ffa202;
}

nav .logo{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "French's Asylum";
}

nav .logo img{
    width:150px;
}

nav .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

nav .nav-links a{
    font-size: 18px;
    font-weight: normal;
}