*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    color: antiquewhite;
}

nav .logo{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}